In [0]:
dbutils.fs.put('Filestore/Tables/Sample_Regx.txt','1-A-20-Del-2-B-30-Mum-3-C-40-Hyd-4-D-50-Ban')

Wrote 43 bytes.
Out[1]: True

###### First four values are Id,product,vol,city
##### we need to create a data frame with these columns

In [0]:
df=spark.read.text("/Filestore/Tables/Sample_Regx.txt")
df.show()

+--------------------+
|               value|
+--------------------+
|1-A-20-Del-2-B-30...|
+--------------------+

In [0]:
from pyspark.sql.functions import regexp_replace,explode,split
df1=df.withColumn("New_value",regexp_replace("value","(.*?\\-){4}","$0,")).drop("value")
df2=df1.withColumn("New_value1",explode(split(df1.New_value,'-,')))
df3=df2.withColumn("ID",split(df2.New_value1,'-')[0]) \
        .withColumn("Product",split(df2.New_value1,'-')[1])\
        .withColumn("Vol",split(df2.New_value1,'-')[2])\
        .withColumn("City",split(df2.New_value1,'-')[3])\
        .drop("New_value","New_value1")
                
df3.show()

+---+-------+---+----+
| ID|Product|Vol|City|
+---+-------+---+----+
|  1|      A| 20| Del|
|  2|      B| 30| Mum|
|  3|      C| 40| Hyd|
|  4|      D| 50| Ban|
+---+-------+---+----+