In [0]:
dbutils.fs.put("/scenarios/Sample_NULL.csv","""id,name,loc,updated_date,Purpose
1,ravi,bangalore,2021-01-01,
1,ravi,chennai,2022-02-02,
1,ravi,Hyderabad,2022-06-10,
2,Raj,bangalore,2021-01-01,
2,Raj,chennai,2022-02-02,
3,Raj,Hyderabad,2022-06-10,
4,Prasad,bangalore,2021-01-01,
5,Mahesh,chennai,2022-02-02,
4,Prasad,Hyderabad,2022-06-10,
""")

Wrote 291 bytes.
Out[1]: True

In [0]:
df1=spark.read.csv("/scenarios/Sample_NULL.csv",header=True,inferSchema=True)
df1.show()

+---+------+---------+------------+-------+
| id|  name|      loc|updated_date|Purpose|
+---+------+---------+------------+-------+
|  1|  ravi|bangalore|  2021-01-01|   null|
|  1|  ravi|  chennai|  2022-02-02|   null|
|  1|  ravi|Hyderabad|  2022-06-10|   null|
|  2|   Raj|bangalore|  2021-01-01|   null|
|  2|   Raj|  chennai|  2022-02-02|   null|
|  3|   Raj|Hyderabad|  2022-06-10|   null|
|  4|Prasad|bangalore|  2021-01-01|   null|
|  5|Mahesh|  chennai|  2022-02-02|   null|
|  4|Prasad|Hyderabad|  2022-06-10|   null|
+---+------+---------+------------+-------+

In [0]:
## Check the count of each columns in DF
from pyspark.sql import functions as F
df2= df1.agg(*[F.count(c).alias(c) for c in df1.columns])
df2.show()

+---+----+---+------------+-------+
| id|name|loc|updated_date|Purpose|
+---+----+---+------------+-------+
|  9|   9|  9|           9|      0|
+---+----+---+------------+-------+

In [0]:
## If the count of columns is zero,it is having Null Value
NonNull_columns=[c for c in df2.columns if df2[[c]].first()[c]>0]
type(NonNull_columns)

Out[13]: list

In [0]:
## Select the columns which is having NOt Null values
df_final=df2.select(*NonNull_columns)
df_final.show()

+---+----+---+------------+
| id|name|loc|updated_date|
+---+----+---+------------+
|  9|   9|  9|           9|
+---+----+---+------------+