In [0]:
## Creating sample data
dbutils.fs.put("/scenario_files/empty_header.csv","""sampleline
sampleline1
sampleline2
id,emp,joblocation
1,sonu,bangalore
2,monu,chennai
3,raja,pune
4,jit,hyderabad
5,prince,mumbai
""",True)

Wrote 130 bytes.
Out[1]: True

In [0]:
df=spark.read.csv("/scenario_files/empty_header.csv",header=True)
display(df)

sampleline
sampleline1
sampleline2
id
1
2
3
4
5

In [0]:
## use rdd to read the csv 
rdd = sc.textFile("/scenario_files/empty_header.csv")
rdd.collect()

Out[3]: ['sampleline',
 'sampleline1',
 'sampleline2',
 'id,emp,joblocation',
 '1,sonu,bangalore',
 '2,monu,chennai',
 '3,raja,pune',
 '4,jit,hyderabad',
 '5,prince,mumbai']

In [0]:
## Use split method to separate the value
final_rdd = rdd.zipWithIndex().filter(lambda x: x[1] > 2).map(lambda a :a[0].split(","))
final_rdd.collect()

Out[4]: [['id', 'emp', 'joblocation'],
 ['1', 'sonu', 'bangalore'],
 ['2', 'monu', 'chennai'],
 ['3', 'raja', 'pune'],
 ['4', 'jit', 'hyderabad'],
 ['5', 'prince', 'mumbai']]

In [0]:
# get columns into list to create DataFrame
columns=final_rdd.collect()[0]

# skip header/columns from data 
columns=final_rdd.first() #extract header for filter that row
data = final_rdd.filter(lambda col: col != columns)   #filter out header
data.collect()

data.toDF(columns).show()

+---+------+-----------+
| id|   emp|joblocation|
+---+------+-----------+
|  1|  sonu|  bangalore|
|  2|  monu|    chennai|
|  3|  raja|       pune|
|  4|   jit|  hyderabad|
|  5|prince|     mumbai|
+---+------+-----------+